page-login {

    .tituloLogin {
        margin-top: 10px;
    }

    .botaoEntrar {
        margin: 0 auto;
        padding: 15px 20px;
        border: 1px solid #eee;
        font-size: 18px;
        margin-top: 30px;
        width: 90px;
    }

    .navbarLogo {
        height: 40px;
        float: right;
        margin-right: 10px;
    }
}
