page-home {
    .navbarLogo {
        height: 40px;
        float: right;
        margin-right: 10px;
    }

    .texto {
        text-align:justify;
        font-family: Arial, Helvetica, sans-serif;
    }
}
