page-home {
    
    .navbarLogo {
        height: 40px;
        float: right;
        margin-right: 10px;
    }

    .texto {
        text-align:justify;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .sair {
       width: 85px;
       margin-left: auto;
       margin-right: auto;
       margin-top: -50px;
    }

   .centralizadoHome {
    width: 130px;
    height: 200px;
    margin: 30px auto;
    }

   .textoHome {
       font-weight: bold;
       font-size: 18px;
       text-align: justify;
    }
}
