<ion-content padding id="welcome">
  <div class="centralizado">
    <img src="assets/imgs/camarao.png">
  </div>
  <h1 class="bemVindo">Bem vindo ao King Shrimp</h1>
  <div class="posicao">
    <p>Aplicativo criado pelo grupo Potiguara!</p>
  </div>

  <form #form="ngForm" novalidate>
    <ion-list>

      <ion-item>
        <ion-label stacked>E-mail</ion-label>
        <ion-input type="text" name="email" [(ngModel)]="user.email" #email="ngModel" required></ion-input>
      </ion-item>
      <ion-item *ngIf="email.errors && (email.dirty || email.touched)" class="text-danger">
        O campo é obrigatório
      </ion-item>

      <ion-item>
        <ion-label stacked>Senha</ion-label>
        <ion-input type="password" name="password" [(ngModel)]="user.password" #password="ngModel" required></ion-input>
      </ion-item>
      <ion-item *ngIf="password.errors && (password.dirty || password.touched)" class="text-danger">
        O campo é obrigatório
      </ion-item>

    </ion-list>
  </form>

  <button ion-button block class="botaoEntrar" (click)="signIn()">Entrar</button>

  <a (click)="resetPassword()">Esqueci minha senha</a>

  <a (click)="createAccount()">Criar conta</a>

</ion-content>