page-bemvindo {

    body{
        padding: auto;
    }

    #welcome {
        background: radial-gradient( white, #f2bc32);
    }

    img{
        width: 200px;
        margin: auto;
        display: block;
        padding: 10px;
    }

    .bemVindo {
        text-align: center;
        font-size: 30px;
        margin-top: 2px;
        font-family: fantasy;
    }

    .posicao {
        text-align: center;
        margin-top: 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        font-weight: bold;
    }
    
    .botaoEntrar {
        margin: 0 auto;
        padding: 15px 20px;
        border: 1px solid #eee;
        font-size: 18px;
        margin-top: 30px;
        width: 90px;
    }

    .botaoResetPassword {
        margin: 0 auto;
        padding: 15px 20px;
        border: 1px solid #eee;
        font-size: 18px;
        margin-top: 14px;
        width: 200px;
    }

    .botaoCriarConta {
        margin: 0 auto;
        padding: 15px 20px;
        border: 1px solid #eee;
        font-size: 18px;
        margin-top: 14px;
        width: 120px;
    }

    .navbarLogo {
        height: 40px;
        float: right;
        margin-right: 10px;
    }

    .caixa {
        background-color: #f2bc32;
        font-size: 18px;
    }

    .user {
        font-weight: bold;
    }

    .password {
        font-weight: bold;
    }

    .EsqueciSenha{
        text-align: center;
        margin-top: 15px; 
        position: absolute;
        left: 100px;
        font-size: 17px;
        font-weight: bold;
    }

    .CriarConta {
        text-align: center;
        margin-top: 7px; 
        position: absolute;
        left: 140px;
        font-size: 17px;
        font-weight: bold;
    }
}
