page-bemvindo {

    #welcome {
        background-color: #f2bc32;
    }

    .centralizado {
        width: 200px;
        height: 200px;
        margin: 30px auto;
    }

    .bemVindo {
        text-align: center;
        font-size: 45px;
        margin-top: 30px;
        font-family: fantasy;
    }

    .posicao {
        text-align: center;
        margin-top: 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
    }

    .botaoLogin {
        margin: 0 auto;
        padding: 15px 20px;
        border: 1px solid #eee;
        font-size: 18px;
        margin-top: 30px;
        width: 90px;
    }
    
    
    
}
